extends layout 

block content 
  h1= title 

  a.btn(href="/home/newpost") Create a post

  ul 
    for post in results.posts 
      li.post
        if (currentUser.membership)
          p.post-header= post.author.username
        else if post.author.username === currentUser.username 
          p.post-header= post.author.username
        else 
          p.post-header anon
        p.post-content= post.content
        p.post-date= post.date_formatted