extends layout 

block content 
  h1= title 

  a.link(href="/home/newpost") Create a post

  ul 
    for post in results.posts 
      li.post
        if (currentUser.membership)
          .post-header
            p.post-author= post.author.username
            p.post-date= post.date_formatted
        else if post.author.username === currentUser.username 
          .post-header
            p.post-author= post.author.username
            p.post-date= post.date_formatted
        else 
          .post-header
            p.post-author anon
        p.post-content !{post.content}

        if currentUser.membership 
          a.delete(href="/home/deletepost/" + post._id) delete 
        